::selection{
	background:#191919;
	color:#19b794;
	}
::-moz-selection{
	background:#191919;
	color:#19b794;
	}
::-webkit-selection{
	background:#191919;
	color:#19b794;
	}
H1{
	color:#191919;
	float:left;
	font-size:1.5em;
	font-weight:normal;
	margin:0 0 1em 0;
	text-align:center;
	text-transform:uppercase;
	width:100%;
	}
H2,
H6{
	color:#19b794;
	float:left;
	font-size:1.4em;
	font-weight:normal;
	margin:0 0 1em 0;
	text-align:center;
	text-transform:uppercase;
	width:100%;
	}
H3{
	color:#191919;
	font-family:'Roboto', sans-serif;
    font-size:1.2em;
    font-weight:normal;
    margin:0 0 0.5em 0;
	text-transform:uppercase;
	}
H4{
	color:#19b794;
    font-size:1.1em;
    font-weight:normal;
    margin:0 0 0.5em 0;
	}
P{
	color:#191919;
	font-size:1em;
	margin:0 0 1em 0;
	padding:0;
	text-align:justify;
	}
P A,
A{
	color:#19b794;
	font-size:1em;
	}
	P A:hover,
	A:hover{
		color:#191919;
		}
UL{

	float:left;
	width:100%;
	}
	UL LI{
		float:left;
		font-size:0.95em;
		line-height:1.2em;
		list-style:none;
		margin:0 0 0.8em 0;
		padding:0;
		width:100%;
		}
		UL LI:before{
			color:#19b794!important;
		    content:"•";
		    float:left;
		    font-size:1.3em;
		    padding:0 0.4em 0 0;
			}
		UL LI A{
			color:#191919!important;
			}
			UL LI A:hover{
				color:#19b794!important;
				}
DL{
	float:left;
	margin:0 0 1em 0;
	width:100%;
	}
	DL DT{
		float:left;
	    min-width:8em;
	    margin:0 0 0.5em 0;
	    padding:0 1.5em 0 0;
	    width:10.5%;
		}
	DL DD{
		float:left;
	    margin:0 0 0.5em 0;
	    padding:0;
	    width:87.3%;
		}
FORM{
	border:1px solid #dddcdb;
	float:left;
	padding:2em;
	width:94.5%;
	}
	FORM > DIV{
		float:left;
		margin:0 0 1em 0;
		width:100%;
		}
		FORM .stars-field,
		FORM .label-field,
		FORM .text-field{
			float:left;
			margin:0;
			width:72.2%;
			}
			FORM P{
				float:left;
				margin:0 0 1em 0;
				padding:0;
				width:100%;
				}
				FORM LABEL{
					color:#191919;
					float:left;
					font-size:1em;
					margin:0 2em 0 0;
					width:25%;
					}
				FORM BR{
					display:none;
					}
				FORM SPAN.required{
					color:#19b794;
					}
				FORM INPUT,
				FORM TEXTAREA,
				FORM SELECT{
					border:1px solid #bbbbbb!important;
					color:#19b794;
					padding:0.9em 0.85em!important;
					width:36.2%;
					}
				FORM SELECT{
					padding:0.58em 0.85em!important;
					}
				FORM P INPUT[type="checkbox"]{
				    float:left;
				    margin:0.25em 0.5em 0 27.8%;
				    width:auto;
					}
			A.button,
			INPUT.button{
				background:#19b794 url("/assets/submit-icon.png") no-repeat 1.8em center;
				border:none!important;
				color:#ffffff;
			    float:right;
			    font-size:0.85em;
			    font-weight:normal;
			    margin:0;
			    padding:1em 1.75em 1em 3.5em!important;
			    width:auto;
				}
				A.button:hover,
				INPUT.button:hover{
					background:#191919 url("/assets/submit-iconHover.png") no-repeat 1.8em center;
					color:#19b794;
					}
LABEL.errror{
	font-size:0.8em;
	margin:0.3em 0 0 0;
	}
HR{
	margin:2em 0;
	}
TABLE{
	float:left;
    margin:0 0 1em 0;
    width:100%;
	}
.container{
	width:1280px;
	}
.ui-widget{
	font-family:Arial, Helvetica, sans-serif;
	}
.ui-widget-content{
    background:#ffffff;
    border:none;
	}
.ui-dialog{
	background:#ffffff;
    border:none;
    border-radius:0;
    box-shadow:0 0 1em #000000;
    padding:0;
    width:500px!important;
	}
	.ui-dialog .ui-widget-header{
	    background:#19b794;
	    border:none;
	    border-radius:0;
		}
		.ui-dialog .ui-widget-header .ui-state-default{
			background:#ffffff;
			border:none;
			border-radius:0;
			}
			.ui-dialog .ui-state-hover{
				border:1px solid #4c996b!important;
				}
			.ui-dialog .ui-state-default .ui-icon{
			    background-image:url("/assets/ui-icons_191919_256x240.png");
				}
			.ui-dialog .ui-state-hover .ui-icon{
			    background-image:url("/assets/ui-icons_19b794_256x240.png");
				}
	.flash.notice,
	.flash.success,
	.flash.error,
	.flash.alert{
		background:transparent url("/assets/success-icon.png") no-repeat 50% 3.4em;
		color:#191919;
		float:left;
		font-size:1.5em;
	    font-style:italic;
	    margin:0;
	    padding:6em 3em 4em 3em;
	    text-align:center;
	    text-transform:uppercase;
	    width:68.3%!important;
		}
	.flash.error{
		background:transparent url("/assets/error-icon.png") no-repeat 50% 3.4em;
		}
	.flash.alert{
		background:transparent url("/assets/alert-icon.png") no-repeat 50% 3.4em;
		}
nav#top-nav-bar UL LI::before,
#main-menu NAV UL LI:before,
#content .banner UL LI:before,
#footer .right-footerContent UL LI:before,
#tabs UL LI:before,
#product-images #thumbnails UL LI:before,
#errorExplanation UL LI:before,
#content UL#products LI:before,
#breadcrumbs UL LI:before,
#content #checkout UL.shipping-methods LI:before,
UL#payment-methods LI:before{
    content:none;
    font-size:1em;
	}
#content BUTTON{
	background:#19b894;
    border:none;
    color:#ffffff;
    font-size:0.8em;
    font-weight:normal;
    padding:1em 1.75em;
	}
	#content BUTTON:hover{
		background:#1a1a1a;
		color:#19b794;
		}
#errorExplanation,
#stripeError{
    background:#f2dede url("/assets/errorBig-icon.png") no-repeat 3em 3em;
    border:1px solid #e45353;
    float:left;
    margin:0 0 2em 0!important;
    padding:2em 2em 2em 14em;
    width:77.5%!important;
	}
	#errorExplanation H2{
    	text-align:left!important;
		}
	#errorExplanation H2,
	#errorExplanation UL LI{
    	color:#ff0000;
		}
	#errorExplanation P{
    	color:#ff0000;
    	font-weight:normal;
		}
	#errorExplanation UL{
    	width:96.4%;
		}
#stripeError{
    background:#f2dede url("/assets/error-icon.png") no-repeat 2em 50%;
    color:#ff0000;
    font-size:1.4em;
    font-weight:normal;
    padding:2em 2em 2em 8em;
    text-transform:uppercase;
    width:75.5%!important;
	}
.pagination{
	float:left;
	margin:1em 0;
	text-align:right;
	width:100%;
	}
	.pagination .page{
		margin:0 0.5em;
		padding:0.2em;
		width:auto;
		}
		.pagination .page A{
			color:#19b794;
			padding:0.2em;
			}
			.pagination .page A:hover{
				background:#191919;
				color:#19b794;
				}
	.pagination .current{
		background:#191919;
		color:#19b794;
		}
#breadcrumbs{
	border:none;
    float:left;
    margin:0 0 1em 0;
    padding:3em 1.85em 0 1.85em;
    width:100%;
	}
	#breadcrumbs UL{
	    margin:0;
		}
		#breadcrumbs UL LI{
			margin:0;
			padding:0 0.8em 0 0;
		    width:auto;
			}
			#breadcrumbs UL LI A{
				padding:0 0.8em 0 0;
				}
			#breadcrumbs UL LI SPAN{
				font-weight:normal;
				text-transform:none;
				}
				#breadcrumbs UL LI SPAN A,
				#breadcrumbs UL LI SPAN A:hover{
					color:#19b794!important;
					cursor:text;
					}
#slicknav_menu{
	display:none;
	}
html,
body{
	font:1em/1.4 Arial, Helvetica, sans-serif;
	color:#191919;
	margin:0;
	}
	body{
		background:#eeeeee url("/assets/background.png") repeat-x left top;
		}
		#header,
		#wrapper,
		#footer{
			float:left;
			width:100%;
			}
		#header{
			margin:0;
			}
			#header .header-content{
				float:left;
				padding:0.6em 0;
				width:100%;
				}
				nav#top-nav-bar{
					float:left;
					margin:0;
					text-align:left;
					width:58%;
					}
					nav#top-nav-bar UL{
						float:left;
						margin:0;
						width:100%;
						}
						nav#top-nav-bar UL LI{
							float:left;
							margin:0 0 0 1em;
							max-width:10.7em;
							padding:0;
							width:auto;
							}
						nav#top-nav-bar UL LI:first-child{
							margin:0;
							}
							nav#top-nav-bar UL LI A{
							    background:#19b894;
							    color:#ffffff!important;
							    float:left;
							    font-size:0.8em;
							    font-weight:normal;
							    padding:1em 1.75em 1em 3.8em;
							    text-transform:none;
							    width:auto;
								}
								nav#top-nav-bar UL LI A:hover,
								nav#top-nav-bar UL LI#search-bar INPUT[type="submit"]:hover{
								    background:#1a1a1a;
								    color:#19b794!important;
									}
							nav#top-nav-bar UL LI.favProds A{
							    background:#19b894 url("/assets/favourite-icon.png") no-repeat 2em 50%;
								}
								nav#top-nav-bar UL LI.favProds A:hover{
								    background:#191919 url("/assets/favourite-iconHover.png") no-repeat 2em 50%;
									}
							nav#top-nav-bar UL LI.account A{
							    background:#19b894 url("/assets/account-icon.png") no-repeat 2em 50%;
								}
								nav#top-nav-bar UL LI.account A:hover{
								    background:#191919 url("/assets/account-iconHover.png") no-repeat 2em 50%;
									}
							nav#top-nav-bar UL LI.logIn A{
							    background:#19b894 url("/assets/login-icon.png") no-repeat 2em 50%;
								}
								nav#top-nav-bar UL LI.logIn A:hover{
								    background:#191919 url("/assets/login-iconHover.png") no-repeat 2em 50%;
									}
							nav#top-nav-bar UL LI.logOut A{
							    background:#19b894 url("/assets/logout-icon.png") no-repeat 2em 50%;
								}
								nav#top-nav-bar UL LI.logOut A:hover{
								    background:#191919 url("/assets/logout-iconHover.png") no-repeat 2em 50%;
									}
						nav#top-nav-bar UL LI#search-bar{
							float:right;
							max-width:19.8em;
							width:19.8em;
							}
							nav#top-nav-bar UL LI#search-bar FORM{
								border:none;
								padding:0;
								width:100%;
								}
								nav#top-nav-bar UL LI#search-bar INPUT{
									border:1px solid #bbbbbb!important;
									border-right:none;
									color:#a5a5a5;
									float:left;
									padding:0.9em 0.85em;
									width:16.4em;
									}
									nav#top-nav-bar UL LI#search-bar INPUT[type="submit"]{
										background:#19b894;
										border:none!important;
										color:#ffffff;
										float:left;
										font-size:0.9em;
										font-weight:normal;
										padding:0.9em 1.15em!important;
										text-transform:uppercase;
										width:auto;
										}
				#link-to-cart{
					float:left;
					margin:0 0 0 3.5em;
					width:17.3%;
					}
					#link-to-cart A{
						background:transparent url("/assets/cart.png") no-repeat left top;
						color:#191919;
						float:right;
						font-size:0.75em;
						min-height:1.4em;
						padding:1.1em 0 1.1em 4.5em;
						width:auto;
						}
						#link-to-cart A:hover{
							background:transparent url("/assets/cart-hover.png") no-repeat left top;
							}						
						#link-to-cart A SPAN{
							font-weight:bold;
							}
				#header .phone{
					float:left;
					margin:0 0 0 1.8em;
					width:18%;
					}
					#header .phone IMG{
						float:left;
						max-width:1.6em;
						width:auto;
						}
					#header .phone .inside{
						float:left;
						padding:0 0 0 0.8em;
						width:auto;
						}
						#header .phone .inside P{
							color:#19b794;
							font-size:0.8em;
							font-weight:bold;
							margin:0 0 0.2em 0;
							padding:0;
							text-transform:uppercase;
							}
						#header .phone .inside A{
							color:#191919;
							font-size:1.5em;
							line-height:0.8em;
							}
							#header .phone .inside A:hover{
								color:#19b794;
								}
			#main-menu{
				background:#19b794;
				float:left;
				padding:0;
				width:100%;
				}				
				#main-menu FIGURE{
				    float:left;
				    margin:0;
				    padding:0.95em 0;
				    width:auto;
					}
					#main-menu FIGURE A{
					    float:left;
					    width:auto;
						}
						#main-menu FIGURE A IMG{
						    float:left;
						    max-height:6.15em;
						    max-width:14.2em;
						    padding:0;
						    width:auto!important;
							}
				#main-menu NAV{
				    float:right;
				    margin:0 0 0 4.2em;
				    width:77%;
					}
					#main-menu NAV UL{
						border:none;
					    float:left;
					    font-weight:normal;
					    margin:0;
					    padding:0;
					    width:100%;
						}
						#main-menu NAV UL LI{
						    float:left;
						    margin:0 0 0 1.56em;
						    padding:3.66em 0;
						    width:auto;
							}
						#main-menu NAV UL LI:first-child{
						    margin:0;
							}
							#main-menu NAV UL LI A{
								color:#ffffff!important;
							    float:left;
							    font-family:'Roboto', sans-serif;
							    font-weight:normal;
							    font-size:1em!important;
							    padding:0 0.89em 0 0;
							    width:auto;
								}
								#main-menu NAV UL LI:first-child A{
								    padding:0!important;
									}
									#main-menu NAV UL LI A.selected,
									#main-menu NAV UL LI A:hover{
										color:#444444!important;
										}
										#main-menu NAV UL LI A:hover{
											background:transparent url("/assets/sel-down-menu-arrow.png") no-repeat right 0.45em!important;
											}
										#main-menu NAV UL LI:first-child A:hover{
											background:none!important;
											}
							#main-menu NAV UL LI UL{
								background:#ffffff;
								border:none;
								border-bottom:3px solid #19b794;
								border-top:3px solid #19b794;
							    float:left;
							    left:0;
							    min-height:10em;
							    padding:2.2em 0 2.2em 0.95em;
							    top:5.7em;
							    width:15.6em;
								}
								#main-menu NAV UL LI UL LI{
									margin:0.4em 0 0 0;
									padding:0 0.85em 0 0;
									width:95%;
									}
								#main-menu NAV UL LI UL LI:first-child{
									margin:0;
									}
									#main-menu NAV UL LI UL LI A,
									#main-menu NAV UL LI UL LI:first-child A{
										background:transparent url("menu-arrow.png") no-repeat 16em center;
										color:#5b5b5b!important;
										font-size:0.9em!important;
										line-height:1.2em;
									    padding:0.5em 3em 0.5em 0.5em !important;
									    width:80%;
										}
										#main-menu NAV UL LI UL LI:hover,
										#main-menu NAV UL LI UL LI A:hover{
											background:none!important;
											color:#ffffff!important;
											padding:0.5em 2.1em 0.5em 0.5em!important;
											}
										#main-menu NAV UL LI UL LI:hover{
											background:#19b794 url("sel-menu-arrow.png") no-repeat scroll 14.4em center!important!important;
										    padding:0 0.8em 0 0 !important;
										    width:95%;
											}
										#main-menu NAV UL LI UL LI:first-child:hover{
										    margin:0;
											}
											#main-menu NAV UL LI UL LI:hover A,
											#main-menu NAV UL LI UL LI:first-child A:hover{
												background:#19b794 url("sel-menu-arrow.png") no-repeat scroll 15em center!important;
											    color:#ffffff!important;
											    padding:0.5em 2.1em 0.5em 0.5em!important;
											    width:85.5%;
												}
											#main-menu NAV UL LI UL LI UL,
											#main-menu NAV UL:nth-last-child(-n+3) LI UL LI UL{
												border:none;
												border-bottom:3px solid #19b794;
												border-top:3px solid #19b794;
												box-shadow:0 1px 4px #a6a6a6;
												left:16.4em;
												padding:1.7em 0.95em;
												top:0;
												}
												#main-menu NAV UL LI UL LI UL LI,
												#main-menu NAV UL LI UL LI:hover UL LI,
												#main-menu NAV UL:nth-last-child(-n+3) LI UL LI:nth-last-child(-n+3) UL LI{
													padding:0!important;
													width:100%;
													}
													#main-menu NAV UL LI UL LI UL LI A,
													#main-menu NAV UL LI UL LI UL LI:first-child A,
													#main-menu NAV UL LI UL LI:hover UL LI A,
													#main-menu NAV UL:nth-last-child(-n+3) LI UL LI:nth-last-child(-n+3) UL LI A{
														background:none!important;
														color:#5b5b5b!important;
														font-size:1em!important;
														padding:0.5em 0.4em!important;
														text-align:left;
														width:94.5%;
														}
														#main-menu NAV UL LI UL LI:hover UL LI A:hover,
														#main-menu NAV UL LI UL LI UL LI A:hover,
														#main-menu NAV UL:nth-last-child(-n+3) LI UL LI:nth-last-child(-n+3) UL LI A:hover{
															background:#19b794!important;
															color:#ffffff!important;
															}
						#main-menu NAV UL LI:nth-last-child(-n+3) UL{
							left:inherit;
							padding:2.2em 0.95em 2.2em 0;
							position:absolute;
							right:0;
							}
							#main-menu NAV UL LI:nth-last-child(-n+3) UL LI,
							#main-menu NAV UL LI:nth-last-child(-n+3) UL LI:hover{
								padding:0 0 0 0.95em!important;
								width:100%;
								}
								#main-menu NAV UL LI:nth-last-child(-n+3) UL LI A{
									background:transparent url("menu-arrow-left.png") no-repeat 1em center;
									font-size:1em!important;
									padding:0.5em 0.5em 0.5em 2.1em!important;
									text-align:right;
									width:80.3%;
									}
								#main-menu NAV UL LI:nth-last-child(-n+3) UL LI:hover A{
									background:#19b794 url("sel-menu-arrow-left.png") no-repeat 1em center!important;
									padding:0.5em 0.5em 0.5em 2.1em !important;
    								width:80.3%;
									}
								#main-menu NAV UL LI:nth-last-child(-n+3) UL LI UL{
									left:-17.5em;
									}								
									#main-menu NAV UL LI:nth-last-child(-n+3) UL LI UL LI,
									#main-menu NAV UL LI:nth-last-child(-n+3) UL LI:hover UL LI{
										padding:0!important;
										width:100%;
										}
										#main-menu NAV UL LI:nth-last-child(-n+3) UL LI UL LI A,
										#main-menu NAV UL LI:nth-last-child(-n+3) UL LI:hover UL LI A{
											background:none!important;
										    font-size:1em!important;
										    padding:0.5em 0.4em!important;
										    text-align:right;
										    width:95%;
											}
										#main-menu NAV UL LI:nth-last-child(-n+3) UL LI:hover UL LI:hover A:hover,
										#main-menu NAV UL LI:nth-last-child(-n+3) UL LI:first-child:hover UL LI:hover A:hover{
											background:#19b794!important;
											width:95%;
											}
			#wrapper .container{
				background:#ffffff;
				box-shadow:0 15px 18px #a6a6a6;
				overflow:hidden;
				}
				#content{
					float:left;
					margin:0;
					width:100%;
					}
					#content .banner{
						height:458px!important;
						margin:0 0 2.5em 0;
						width:100%!important;
						}
						#content .banner H1{
							position:absolute;
							top:-5000em;
							}
					#content,
					#content .main-content,
					#footer .main-footer{
						float:left;
						padding:0 1.85em;
						width:95.4%;
						}
					#content{
						padding:3em 1.85em;
						}
					.home #content{
						padding:0;
						width:100%;
						}
					#content .main-content{
						margin:0 0 0.3em 0;
						}
						#tabs{
							float:left;
							min-height:15em;
							width:100%;
							}
							#tabs UL{
								background:#19b794;
								border:none;
								border-radius:0;
								float:left;
								margin:0 0 1.25em 0;
								width:100%;
								}
								#tabs UL LI{
									background:transparent url("/assets/separator.png") no-repeat right center;
									border:none;
									border-radius:0;
									font-size:1em;
									list-style:none;
									margin:0;
									width:auto;
									}
								#tabs UL LI.ui-tabs-active,
								#tabs UL LI:hover{
									background:#191919;
									}
									#tabs UL LI H2{
										float:left;
										font-size:1.1em;
										margin:0;
										padding:0;
										width:auto;
										}
										#tabs UL LI H2 A{
											color:#ffffff!important;
											float:left;
											font-size:1em;
											padding:0.8em 1.4em;
											width:auto;
											}
											#tabs UL LI.ui-tabs-active H2 A,
											#tabs UL LI H2 A:hover{
												color:#19b794!important;
												}
							#tabs #special_sale,
							#tabs #featured,
							#tabs #latest{
								float:left;
								width:100%;
								}
								#tabs .product{
									border:0.5em solid #dddcdb;
								    float:left;
								    margin:0 0.77em 1.9em 0.77em;
								    max-height:19em;
								    min-height:19em;
								    overflow:hidden;
								    padding:2.2em 0.9em;
								    width:18.85%;
									}
									#tabs .product .product-desc,
									#tabs .product .home_images,
									#tabs .product .product-price{
									    float:left;
									    width:100%;
										}
									#tabs .product .product-desc{
										margin:0 0 1.45em 0;
										}
										#tabs .product .product-desc A{
											color:#191919;
											float:left;
											font-size:1em;
											max-height:3em;
											overflow:hidden;
											text-align:center;
											width:auto;
											}
											#tabs .product .product-desc A:hover{
												color:#19b794;
												}
									#tabs .product .home_images{
										margin:0 0 1.45em 0;
										text-align:center;
										}
										#tabs .product .home_images A IMG{
											max-height:9.1em;
										    max-width:9.1em;
										    min-height:7.4em;
										    min-width:5.1em;
											}
									#tabs .product .product-price{
										border-top:0.15em solid #dddcdb;
										color:#19b794;
									    float:left;
									    font-size:1.85em;
									    padding:0.55em 0 0 0;
									    text-align:center;
									    width:100%;
										}
						#product-show,
						#reviews{
							float:left;
							margin:0 0 1em 0;
							width:100%;
							}
							#content [data-hook="product_left_part"]{
								float:left;
								margin:0 2.5em 0 0;
								width:27.8%;
								}
								#product-images{
									float:left;
									width:100%;
									}
								#product-images #main-image{
								    border:0.5em solid #dddcdb;
								    float:left;
								    margin:0 0 1em 0;
								    padding:2.2em 0.9em;
								    text-align:center;
								    width:18.3em;
									}
									#product-images #main-image IMG{
										max-width:18.3em;
	    								min-width:14.3em;
										}
								#product-images #thumbnails{
								    float:left;
								    width:100%;
									}
									#product-images #thumbnails UL{
									    margin:0;
										}
										#product-images #thumbnails UL LI{
										    border:0.25em solid #dddcdb;
										    margin:0 0.45em 1em 0.45em;
										    width:auto;
											}
											#product-images #thumbnails UL LI A IMG{
												float:left;
												padding:0.5em 0;
												}
								#content [data-hook="product_left_part"] #reviews{
									display:none;
									}
							#content [data-hook="product_right_part"]{
								float:left;
								margin:0;
								width:68.5%;
								}
								#content [data-hook="product_right_part"] H1.product-title{
									border-bottom:0.15em solid #dddcdb;
								    color:#191919;
								    font-weight:normal;
								    text-align:inherit;
									}
								#content [data-hook="product_right_part"] [data-hook="description"]{
									clear:both;
								    color:#191919;
								    float:left;
								    font-size:1em;
								    margin:0 0 1em 0;
								    text-align:justify;
								    width:60%;
									}							
								#content [data-hook="product_right_part"] A.favorite_link{
								    background:transparent url("/assets/favouriteBig-icon.png") no-repeat left top;
								    clear:both;
								    float:left;
								    margin:0 0 1em 0;
								    padding:0 0 0 2em;
								    width:auto;
									}
									#content [data-hook="product_right_part"] A.favorite_link:hover{
									    background:transparent url("/assets/favouriteBig-iconHover.png") no-repeat left top;
									    color:#191919;
										}
								#content [data-hook="product_right_part"] #cart-form{
								    clear:both;
								    float:left;
								    width:auto;
									}
									#content [data-hook="product_right_part"] #cart-form FORM{
									    border:none;
									    padding:0;
									    width:100%;
										}
										#content [data-hook="product_right_part"] #cart-form #product-price,
										#content [data-hook="product_right_part"] #cart-form .add-to-cart{
										    float:left;
										    margin:0 0 1em 0;
										    width:100%;
											}
											#content [data-hook="product_right_part"] #cart-form #product-price H6{
											    position:absolute;
											    top:-5000em;
												}
											#content [data-hook="product_right_part"] #cart-form #product-price .price,
											#content [data-hook="product_right_part"] #cart-form #product-price SPAN.priceCurrency{
											    color:#19b794;
											    font-size:1.85em;
											    font-weight:normal;
											    margin:0 0.5em 0 0;
												}
											#content [data-hook="product_right_part"] #cart-form #product-price SPAN.priceCurrency{
											    display:none;
												}
											#content [data-hook="product_right_part"] #cart-form #product-price SPAN.priceNormal{
											    color:#b4b4b4;
											    font-size:1.25em;
											    text-decoration:line-through;
												}
											#content [data-hook="product_right_part"] #cart-form .add-to-cart INPUT{
												margin:0.65em 0.5em 0.65em 0;
												padding:0.25em 0 0.25em 0.5em!important;
												}
						#reviews{
							margin:0;
							}
							#reviews .review{
								float:left;
								margin:0 0 2em 0;
								width:100%;
								}
								#reviews .review .reviewRating{
									float:left;
									width:24.3%;
									}
									#reviews .review .reviewRating .reviews-rating{
										float:left;
										margin:0 0 0.3em 0;
										width:100%;
										}
									#reviews .review .reviewRating .name{
										color:#19b794;
									    float:left;
									    font-size:0.85em;
									    font-weight:bold;
									    margin:0 0 0.3em 0;
									    width:100%;
										}
									#reviews .review .reviewRating .attribution{
										float:left;
										margin:0 0 0.3em 0;
										width:100%;
										}
										#reviews .review .reviewRating .attribution .translation_missing{
											display:none;
											}
										#reviews .review .reviewRating .attribution .date{
											font-size:0.85em;
											}
									#reviews .review .reviewRating .author{
										color:#191919;
										float:left;
										font-size:0.85em;
										width:100%;
										}
								#reviews .review .reviewBody{
									float:left;
									margin:0 0 0 2em;
									width:73%;
									}
									#reviews .review .reviewBody .feedback_review{
										border-top:0.15em dotted #dddcdb;
									    float:left;
									    width:100%;
										}
										#reviews .review .reviewBody .feedback_review P{
											padding:0;
											}
										#reviews .review .reviewBody .feedback_review FORM{
											border:none;
											padding:0;
											width:100%;
											}
							#reviews A.button{
								background:#19b794 url("/assets/write-icon.png") no-repeat 1.8em center;
								}
								#reviews A.button:hover{
									background:#191919 url("/assets/write-iconHover.png") no-repeat 1.8em center;
									}
						#content-new-review{
							float:left;
							width:100%;
							}
							#new_review{
								border:1px solid #dddcdb;
								float:left;
								padding:2em;
								width:94.5%;
								}
								#new_review > DIV{
									float:left;
									margin:0 0 1em 0;
									width:100%;
									}
									#new_review .stars-field,
									#new_review .label-field,
									#new_review .text-field{
										float:left;
										margin:0;
										width:72.2%;
										}
									#new_review .label-field{
										margin:0 2em 0 0;
										width:25%;
										}
										#new_review .label-field LABEL{
											color:#191919;
											float:none;
											font-size:1em;
											margin:0;
											width:auto;
											}
										#new_review .label-field SPAN.required{
											color:#19b794;
											}
										#new_review .text-field INPUT,
										#new_review .text-field TEXTAREA{
											border:1px solid #bbbbbb;
    										color:#19b794;
    										padding:0.9em 0.85em;
    										width:50%;
											}
					#content UL#products{
					    margin:0 0.77em 1.9em 0.77em;
						}
						#content UL#products LI{
							border:0.5em solid #dddcdb;
						    float:left;
						    font-size:1.1em;
						    margin:0 0.77em 1.9em;
						    max-height:19em;
						    min-height:19em;
						    overflow:hidden;
						    padding:2.2em 0.9em;
						    width:18.85%;
							}
							#content UL#products LI .product-desc{
							    float:left;
							    margin:0 0 1.45em 0;
							    width:100%;
								}
								#content UL#products LI .product-desc A{
									border:none;
								    color:#191919;
								    float:left;
								    font-size:1em;
								    font-weight:normal;
								    height:auto;
								    max-height:2.5em;
								    overflow:hidden;
								    text-align:center;
								    width:auto;
									}
							#content UL#products LI .product-image{
							    border:none;
							    float:left;
							    margin:0 0 1.45em 0;
							    max-height:9.35em;
							    min-height:9.35em;
							    padding:0;
							    text-align:center;
							    width:100%;
								}
								#content UL#products LI .product-image A IMG{
								    max-height:9.1em;
								    max-width:9.1em;
								    min-height:7.4em;
								    min-width:5.1em;
									}
							#content UL#products LI .product-price{
							    color:#19b794;
							    float:left;
							    padding:0.55em 0 0 0;
							    text-align:center;
							    width:100%;
								}
							#content UL#products LI .product-price{
							    border-top:0.25em solid #dddcdb;
							    color:#19b794;
							    float:left;
							    font-size:1em;
							    padding:0.55em 0 0 0;
							    text-align:center;
							    width:100%;
								}
								#content UL#products LI .product-price SPAN{
								    color:#19b794;
								    font-size:1.85em;
								    font-weight:normal;
								    line-height:1.4em;
								    padding:0;
									}
					#content H2.taxon-title{
					    font-size:1.4em;
						}
					#content .taxon{
					    float:left;
					    margin:0 0 0.5em 0;
					    width:100%;
						}
						#content .taxon H3{
						    float:left;
						    margin:0 0.5em 0 0;
						    min-width:10em;
						    width:auto;
							}
							#content .taxon H3 A{
							    color:#191919;
								}
								#content .taxon H3 A:hover{
								    color:#19b794;
									}
					#content .account-summary,
					#content .account-my-orders,
					#content #users-address-list-empty,
					#content #new_address_link{
					    float:left;
					    margin:0 0 1em 0;
					    width:100%;
						}
						#content .account-summary DL{
							margin:0;
						    width:98.2%;
							}
					#content FORM#update-cart{
					    border:none;
					    float:left;
					    padding:0;
					    width:100%;
						}
						#content TABLE#cart-detail TD.cart-item-image IMG{
							display:inline!important;
						    max-width:50px;
							}
						#content TABLE#cart-detail TR.line-item TD{
							text-align:center;
							}
						#content TABLE#cart-detail TR.line-item TD.cart-item-price,
						#content TABLE#cart-detail TR.line-item TD.cart-item-total{
							text-align:right;
							}
						#content TABLE#cart-detail TR.line-item TD.cart-item-description{
							text-align:left;
							}
							#content TABLE#cart-detail TD.cart-item-description H4{
								margin:0;
								}
								#content TABLE#cart-detail TD.cart-item-description H4 A{
									font-weight:normal;
									}
							#content TABLE#cart-detail TD.cart-item-description SPAN{
								font-size:0.9em;
								}
							#content TABLE#cart-detail TD.cart-item-price,
							#content TABLE#cart-detail TD.cart-item-total{
								color:#19b794!important;
							    font-size:1em!important;
							    font-weight:normal!important;
								}
							#content TABLE#cart-detail TD.cart-item-quantity INPUT{
								padding:0.25em 0 0.25em 0.5em!important;
								}
							#content TABLE#cart-detail TD.cart-item-total{
							    font-weight:bold!important;
								}
							#content TABLE#cart-detail TR.total-price H5{
								font-size:1.4em;
							    font-weight:normal;
								}
						#content FORM#update-cart .links{
						    float:left;
						    text-align:center;
						    width:100%;
							}
							#content FORM#update-cart .links BUTTON#update-button{
							    background:#19b794 url("/assets/update-icon.png") no-repeat center center;
							    color:#19b794;
							    font-size:1px;
							    height:41em;
							    width:53em;
								}
								#content FORM#update-cart .links BUTTON#update-button:hover{
								    background:#191919 url("/assets/update-iconHover.png") no-repeat center center;
								    color:#191919;
									}
							#content FORM#update-cart .links .checkout-button{
							    float:right;
							    margin:1em 0 0 0;
							    width:100%;
								}
								#content FORM#update-cart .links .checkout-button BUTTON{
									background:#19b794 url("/assets/checkout-icon.png") no-repeat 1.8em center;
								    float:left;
								    margin:0 1em 0 0;
								    padding:1em 1.75em 1em 3.5em;
								    width:auto;
									}
									#content FORM#update-cart .links .checkout-button BUTTON:hover{
										background:#191919 url("/assets/checkout-iconHover.png") no-repeat 1.8em center;
										}
					#content #empty-carted FORM{
						border:none;
					    float:left;
					    padding:0;
					    width:100%;
						}
						#content #empty-carted FORM #clear_cart_link INPUT,
						#content #empty-carted FORM #clear_cart_link A{
						    float:left;
						    margin:0 1em 0 0;
						    width:auto;
							}
						#content #empty-carted FORM #clear_cart_link INPUT{
						    background:#19b794 url("/assets/empty-icon.png") no-repeat 1.8em center;
							}
							#content #empty-carted FORM #clear_cart_link INPUT:hover{
							    background:#191919 url("/assets/empty-iconHover.png") no-repeat 1.8em center;
								}
						#content #empty-carted FORM #clear_cart_link A{
							background:#19b794 url("/assets/shopping-icon.png") no-repeat 1.8em center;
							}
							#content #empty-carted FORM #clear_cart_link A:hover{
							    background:#191919 url("/assets/shopping-iconHover.png") no-repeat 1.8em center;
								}
					#content #checkout{
					    float:left;
					    width:100%;
						}
						#content #checkout H1{
						    width:100%;
							}
						#content #checkout .thirteen.columns{
						    margin:0;
						    width:100%;
							}
							#content #checkout .thirteen.columns OL{
								background:transparent url("/assets/checkout-bar.png") repeat-x 0 0.55em;
							    list-style:none;
							    min-height:4em;
							    overflow:hidden;
							    text-align:center;
								}
								#content #checkout .thirteen.columns OL LI{
									display:inline;
								    float:none;
								    margin:0;
								    padding:0 3.5em 1em 3.5em;
								    position:relative;
								    text-align:center;
								    top:1.9em;
									}
									#content #checkout .thirteen.columns OL LI,
									#content #checkout .thirteen.columns OL LI:hover{
										background:none;
										}
										#content #checkout .thirteen.columns OL LI SPAN{
											background:transparent url("/assets/next-checkout.png") no-repeat center top;
											color:#191919;
											padding:2em 0 0 0;
											}
										#content #checkout .thirteen.columns OL LI.current-first SPAN,
										#content #checkout .thirteen.columns OL LI.current SPAN{
											background:transparent url("/assets/current-checkout.png") no-repeat center top;
											}
										#content #checkout .thirteen.columns OL LI.completed-first SPAN,
										#content #checkout .thirteen.columns OL LI.completed SPAN{
											background:none;
											}
											#content #checkout .thirteen.columns OL LI.completed-first A,
											#content #checkout .thirteen.columns OL LI.completed A{
												background:transparent url("/assets/completed-checkout.png") no-repeat center top;
												color:#19b794;
												padding:2em 0 0 0;
												}
						#content #checkout .row .columns.alpha{
						    float:left;
						    width:74%;
							}						
						#content #checkout .row H1.columns.alpha{
							margin:0 0 1em 0;
						    width:100%;
							}
							#content #checkout .row .columns FORM{
							    border:none;
							    float:left;
							    padding:0;
							    width:100%;
								}
								#content #checkout .row .columns FORM .columns.alpha,
								#content #checkout .row .columns FORM .columns.omega,
								#content #checkout .row .columns FORM#checkout_form_delivery,
								#content #checkout .row .columns FORM#checkout_form_payment,
								#content #checkout .row .columns FORM#checkout_form_confirm{
									border:1px solid #d9d9db;
								    float:left;
								    margin:0;
								    min-height:53.8em;
								    padding:0.8em;
								    width:46.4%;
									}
									#content #checkout .row .columns FORM FIELDSET{
										border:none;
									    margin:0;
									    padding:0;
										}
										#content #checkout .row .columns FORM LEGEND{
											border-bottom:1px solid #d9d9db;
										    color:#19b794;
										    float:left;
										    font-size:1em;
										    font-weight:normal;
										    margin:0 0 1.5em 0;
										    padding:0.35em 0.35em 1.1em 0.35em;
										    text-align:center;
										    width:97.8%;
											}
										#content #checkout .row .columns FORM .inner{
										    float:left;
										    width:100%;
											}
											#content #checkout .row .columns FORM .inner LABEL{
												margin:0 0.2em 0 0;
											    width:auto;
												}
											#content #checkout .row .columns FORM .inner LABEL.errror{
												font-size:0.8em;
    											margin:0.3em 0 0 0;
												}
											#content #checkout .row .columns FORM .inner SPAN#bcountry-selection,
											#content #checkout .row .columns FORM .inner SPAN#scountry-selection{
												float:left;
											    width:100%;
												}
												#content #checkout .row .columns FORM .inner SELECT{
												    width:auto;
													}
								#content #checkout .row .columns FORM#checkout_form_delivery,
								#content #checkout .row .columns FORM#checkout_form_payment{
									min-height:auto;
								    width:96.8%;
									}
									#content #checkout .row .columns FORM#checkout_form_delivery LEGEND{
									    width:98.8%;
										}
									#content #checkout .row .columns FORM#checkout_form_delivery .shipment H3,
									#content #checkout .row .columns FORM#checkout_form_delivery .shipment TABLE TH,
									#content #checkout .row .columns FORM#checkout_form_delivery .shipment H5{
									    background:none;
									    color:#191919;
									    font-size:1em;
									    font-weight:bold;
									    margin:0 0 0.5em 0;
									    padding:0;
										}
									#content #checkout .row .columns FORM#checkout_form_delivery .shipment TABLE{
										    float:left;
										    margin:0 0 2em 0;
										    width:100%;
											}
										#content #checkout .row .columns FORM#checkout_form_delivery .shipment TABLE TH{
										    background:#d9d9db;
										    margin:0;
										    padding:0.35em 0.6em;
											}
										#content #checkout .row .columns FORM#checkout_form_delivery .shipment TABLE TD.item-price{
											color:#19b794;
											text-align:right;
											}
											#content #checkout .row .columns FORM#checkout_form_delivery .shipment TABLE TD IMG{
											    width:auto;
												}
									#content #checkout .row .columns FORM#checkout_form_delivery .shipment H5{
										float:left;
										width:100%;
										}
									#content #checkout .row .columns FORM#checkout_form_delivery .shipment UL.shipping-methods,
									#content #checkout .row .columns FORM#checkout_form_delivery .shipment UL.shipping-methods LI{
										float:left;
										margin:0 0 1em 0;
										width:100%;
										}
									#content #checkout .row .columns FORM#checkout_form_delivery UL.shipping-methods LI{
										margin:0 0 0.5em 0;
										}
										#content #checkout .row .columns FORM#checkout_form_delivery UL.shipping-methods LABEL{
											margin:0;
											}
											#content #checkout .row .columns FORM#checkout_form_delivery UL.shipping-methods LABEL INPUT,
											#content #checkout .row .columns FORM#checkout_form_delivery UL.shipping-methods LABEL SPAN{
												float:left;
												margin:0.2em 0.5em 0 0;
												width:auto;
												}
											#content #checkout .row .columns FORM#checkout_form_delivery UL.shipping-methods LABEL SPAN{
												margin:0 0.5em 0 0;
												}
											#content #checkout .row .columns FORM#checkout_form_delivery UL.shipping-methods LABEL SPAN.rate-name{
												min-width:7em;
												}
											#content #checkout .row .columns FORM#checkout_form_delivery UL.shipping-methods LABEL SPAN.rate-cost{
												color:#19b794;
												font-weight:normal;
												}
									#content #checkout .row .columns #payment #payment-method-fields{
									    float:left;
									    margin:0 0 1em 0;
									    width:100%;
										}
										#content #checkout .row .columns #payment #payment-method-fields LABEL,
										#content #checkout .row .columns #payment .field LABEL{
										    margin:0;
										    width:auto;
											}
										#content #checkout .row .columns #payment .field LABEL{
										    margin:0 0.5em 0 0;
											}
											#content #checkout .row .columns #payment #payment-method-fields LABEL INPUT{
											    float:left;
											    margin:0.2em 0.5em 0 0;
											    width:auto;
												}
									#content #checkout .row .columns #payment UL#payment-methods,
									#content #checkout .row .columns #payment UL#payment-methods LI{
									    margin:0;
										}
										#content #checkout .row .columns #payment UL#payment-methods LI IMG{
											margin:0 0 1em 0;
										    width:auto;
											}
										#content #checkout .row .columns #payment UL#payment-methods LI .label-field,
										#content #checkout .row .columns #payment .field .label-field{
										    float:left;
										    margin:0 0 0.5em 0;
										    width:100%;
											}
											#content #checkout .row .columns #payment UL#payment-methods LI LABEL{
												margin:0 0.5em 0 0;
											    width:auto;
												}
											#content #checkout .row .columns #payment UL#payment-methods LI SPAN{
												float:left;
											    width:auto;
												}
										#content #checkout .row .columns #payment UL#payment-methods LI INPUT,
										#content #checkout .row .columns #payment .field INPUT{
											clear:both;
										    float:left;
										    width:50%;
											}
										#content #checkout .row .columns #payment UL#payment-methods LI SPAN#card_type{
										    color:#ff0000;
										    float:left;
										    font-size:0.8em;
										    margin:0.2em 0 0;
										    width:100%;
											}
										#content #checkout .row .columns #payment UL#payment-methods LI A#cvv_link{
											background:transparent url("/assets/help-icon.png") no-repeat left center;
										    color:#19b794!important;
										    float:left;
										    font-size:0.8em;
										    margin:1em 0 1em 0.5em;
										    padding:0 0 0 1.8em;
										    width:auto;
											}
											#content #checkout .row .columns #payment UL#payment-methods LI A#cvv_link:hover{
												background:transparent url("/assets/help-iconHover.png") no-repeat left center;
											    color:#191919!important;
												}
								#content #checkout .row .columns FORM .columns.omega{
									margin:0 0 1em 0.6em;
									min-height:15em;
									}
									#content #checkout .row .columns FORM .columns.omega P{
										margin:0 0 1em 0;
										padding:0;
										}
										#content #checkout .row .columns FORM .columns.omega P INPUT{
											width:100%;
											}
										#content #checkout .row .columns FORM .columns.omega P.field.checkbox INPUT{
											margin:0.2em 0.5em 0 0;
											width:auto;
											}
										#content #checkout .row .columns FORM .columns.omega P.field.checkbox LABEL{
											margin:0;
											width:auto;
											}
								#content #checkout .row .columns FORM .form-buttons INPUT{
									background:#19b794 url("/assets/save-icon.png") no-repeat 1.8em center;
									float:left;
									margin:0;
									width:auto;
									}
									#content #checkout .row .columns FORM .form-buttons INPUT:hover{
										background:#191919 url("/assets/save-iconHover.png") no-repeat 1.8em center;
										}
								#content #checkout .row .columns FORM .form-buttons SPAN INPUT{
									background:none;
									margin:0.2em 0.3em 0 0;
									}
								#content #checkout .row .columns FORM .form-buttons LABEL{
									margin:0;
									width:auto;
									}
								#content #checkout .row .columns FORM .form-buttons .save-user-address{
									float:left;
									margin:0 0 1em 0;
									width:100%;
									}
						#content #checkout .row .columns.alpha.omega{
						    float:left;
						    width:100%;
							}
							#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm{
								margin:0;
							    width:97.6%;
								}
								#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm LEGEND{
								    width:99.1%;
									}
								#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .steps-data{
								    margin:0;
									}
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .alpha.four,
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .omega.four{
										border:none;
										border-right:1px solid #d9d9db;
										margin:0 0.6em 0 0;
										min-height:17em;
										padding:0 0.8em;
									    width:22.15%;
										}
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .omega.four{
										border:none;
									  	margin:0;
										}
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .alpha.four H6,
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .omega.four H6{
											border:none;
										    color:#191919;
										    font-size:1em;
										    font-weight:bold;
										    margin:0 0 1em 0;
											}
											#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .alpha.four H6 A,
											#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .omega.four H6 A{
												font-size:0.85em;
											    font-weight:normal;
											    text-transform:none;
												}
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .alpha.four .tel SPAN{
										    font-weight:bold;
											}
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm #order_details DIV:last-child,
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm #order_summary DIV:last-child{
										    margin:0;
											}
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .delivery,
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .payment-info{
											float:left;
											width:100%;
											}
											#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .delivery I{
												font-size:1.5em;
												margin:0 0.3em 0 0;
												}
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm .payment-info IMG{
											width:auto;
											}
								#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items{
									border:none;
									margin:0;
									padding:0;
								    width:100%;
									}
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items TD IMG{
									    width:auto;
										}
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items TD.price,
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items TD.qty,
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items TD.total{
									    text-align:right;
										}
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items TD.qty{
									    text-align:center;
										}
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items TD.price SPAN,
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items TD.total SPAN{
										    color:#19b794;
											}
										#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TABLE#line-items TD.price SPAN{
										    font-weight:normal;
											}
									#content #checkout .row .columns.alpha.omega FORM#checkout_form_confirm TFOOT TD{
									    color:#191919;
									    text-transform:none;									   
										}
						#content #checkout .row #checkout-summary{
						    float:left;
						    margin:0 0 1em 0;
						    min-height:15em;
						    padding:0.75em;
						    width:23%;
							}
							#content #checkout .row #checkout-summary H3{
							    color:#19b794;
							    font-size:1em;
							    font-weight:normal;
							    margin:0 0 1.15em;
							    padding:0.2em 0.45em 0.85em 0.45em;
								}
							#content #checkout .row #checkout-summary TABLE TD{
							    text-align:left;
								}
								#content #checkout .row #checkout-summary TABLE TD STRONG{
									color:#19b794;
								    float:left;
								    text-align:right;
								    width:100%;
									}
									#content #checkout .row #checkout-summary TABLE #summary-order-total{
										color:#19b794;
										font-size:1em;
										}
					#content .favorite-product-name{
						text-align:left;
						}
					#content .search-results{
						float:left;
						width:100%;
						}
						#content .search-results H6{
							border:none;
						    color:#191919;
						    font-size:1.5em;
						    line-height:1.4em;
						    margin:0 0 1em 0;
							}
						#content .search-results #products{
							margin:0;
							}
					#cart-detail TR.cart-subtotal{
						background:#191919;
						}
						#cart-detail TR.cart-subtotal TD,
						#cart-detail TR.total-price TD:nth-child(n+1){
							text-align:right;
							}
							#cart-detail TR.cart-subtotal TD H5,
							#cart-detail TR.adjustment H5{
								font-size:1em;
								}
						#cart-detail TR.adjustment TD:last-child{
							text-align:center;
							}
					#registration #existing-customer FORM,
					#registration #guest_checkout FORM{
						min-height:15em;
						width:85.5%;
						}
						#registration #existing-customer FORM INPUT[type="checkbox"]{
							margin:0.25em 0.5em 0 33.3%;
							}
						#registration #existing-customer FORM LABEL[for="spree_user_remember_me"]{
							margin:0;
							width:auto;
							}
				#footer{
					border:none!important;
				    color:#191919;
				    margin:0;
				    padding:0!important;
					}
					#footer H3{
						font-size:1.95em;
						margin:0 1.3em 0.25em 0;
						}
					#footer #top-footerContent{
						float:left;
						margin:0 0 1.2em 0;
						width:100%;
						}
						#footer .left-footerContent{
							float:left;
							width:45.9%;
							}						
							#footer .left-footerContent #footer-right{
								float:left;
								margin:0;
								width:100%;
								}
								#footer .left-footerContent #footer-right UL{
									margin:0;
									}
									#footer .left-footerContent #footer-right UL LI{
										float:left;
										margin:0 2.6em 0.8em 0;
										width:15.8em;
										}
						#footer .right-footerContent{
							float:left;
							margin:0;
							width:54.1%;
							}
							#footer .right-footerContent H3{
								margin:0 0 0.25em 0;
								}
							#footer .right-footerContent .left-fc,
							#footer .right-footerContent .right-fc{
								float:left;
								margin:0;
								width:47.75%;
								}
								#footer .right-footerContent .left-fc I{
									color:#19b794;
									float:left;
									font-size:1em;
									margin:0 0.2em 0 0;
									min-width:1.1em;
									width:auto;
									}
								#footer .right-footerContent .left-fc I.fa-mobile{
									font-size:1.5em;
									min-width:0.75em;
									}
								#footer .right-footerContent .left-fc SPAN{
									float:left;
									width:93%;
									}
							#footer .right-footerContent .right-fc{
								margin:0 0 0 2.5em;
								width:46.1%;
								}
								FORM#contact_newsletter{
									border:none;
									float:left;
									padding:0;
									width:100%;
									}
									FORM#contact_newsletter FIELDSET{
										border:none;
										padding:0;
										}
										FORM#contact_newsletter FIELDSET DIV{
										    float:left;
										    padding:0;
										    width:75%;
											}
											FORM#contact_newsletter FIELDSET LABEL{
												position:absolute;
												top:-5000em;
												}
											FORM#contact_newsletter FIELDSET INPUT{
												border:1px solid #bbbbbb;
											    color:#a5a5a5;
											    float:left;
											    padding:0.9em 0.85em;
											    width:99.5%;
												}
										FORM#contact_newsletter FIELDSET DIV.button{
										    float:left;
										    margin:0 0 0 0.5em;
										    width:22.35%;
											}
											FORM#contact_newsletter FIELDSET DIV.button INPUT#submit{
											    background:transparent url("/assets/newsletter-button.png") no-repeat left top;
											    border:none!important;
											    min-height:3.5em;
											    padding:0;
											    width:100%;
												}
												FORM#contact_newsletter FIELDSET DIV.button INPUT#submit:hover{
												    background:transparent url("/assets/newsletter-buttonHover.png") no-repeat left top;
													}
								#footer .right-footerContent .right-fc .social{
									float:left;
									margin:0.9em 0 0 0;
									width:100%;
									}
									#footer .right-footerContent .right-fc .social UL{
										margin:0;
										}
										#footer .right-footerContent .right-fc .social UL LI{
											float:left;
											margin:0 0 0 1.95em;
											width:auto;
											}
										#footer .right-footerContent .right-fc .social UL LI:first-child{
											margin:0 0 0 0.35em;
											}
											#footer .right-footerContent .right-fc .social UL LI A{
												float:left;
												width:auto;
												}
												#footer .right-footerContent .right-fc .social UL LI A IMG{
													float:left;
													max-width:3em;
													width:auto;
													}
					#footer #bottom-footerContent{
						border-top:2px solid #dddcdb;
						float:left;
						width:100%;
						}
						#footer #bottom-footerContent P{
							color:#a5a5a5;
							font-size:0.9em;
							margin:0;
							padding:0.8em 0;
							text-align:center;
							}
							#footer #bottom-footerContent P A{
								color:#a5a5a5;
								font-size:1em;
								}
								#footer #bottom-footerContent P A:hover{
									color:#19b794;
									}
/* GOOGLE CHROE & SAFARI */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	nav#top-nav-bar UL LI{
		margin:0 0 0 0.9em;
		}
	nav#top-nav-bar UL LI#search-bar{
		max-width:19.85em;
		width:19.85em;
		}
		nav#top-nav-bar UL LI#search-bar INPUT[type="submit"]{
		  	padding:0.95em 1.15em 0.9em 1.15em!important;
		  	width:16.3em;
			}
	#content #checkout .row .columns FORM .columns.omega{
	    min-height:53.8em;
		}
	#content UL#products LI{
		width:18.7%;
		}
	#tabs .product{
		margin:0 0.7em 1.9em 0.7em;
		}
}

/* IE 8 - IE 9 */
input[type="checkbox"],
input[type="radio"]{
	border/*\**/:none!important\0;
	padding/*\**/:0!important\0;
	}
nav#top-nav-bar UL LI{
	margin/*\**/:0 0 0 0.9em\0;
	}
nav#top-nav-bar UL LI#search-bar{
	max-width/*\**/:19.85em\0;
	width/*\**/:19.85em\0;
	}
#main-menu NAV UL LI {
    margin/*\**/:0 0 0 1.53em\0;
	}
#content ul#products li{
	margin/*\**/:0 0.73em 1.9em 0.73em\0;
	}
#footer .container{
    background/*\**/:#ffffff\0;
    box-shadow/*\**/:none\0;
	}

/* IE 9 - IE 10 */
@media screen and (min-width:0\0) {
	input[type="checkbox"],
	input[type="radio"]{
		border:none!important;
		padding:0!important;
		}
}

/* IE 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	nav#top-nav-bar UL LI{
		margin:0 0 0 0.9em;
		}
	nav#top-nav-bar UL LI#search-bar{
		max-width:19.85em;
		width:19.85em;
		}
	#main-menu NAV UL LI {
	    margin:0 0 0 1.53em;
		}
	#content #checkout .row .columns FORM .columns.omega{
	    min-height:53.8em;
		}
	#content ul#products li{
		margin:0 0.73em 1.9em 0.73em;
		}
}